<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Images/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/Header-CSS/header.css">
<link rel="stylesheet" href="/Header-CSS/headerMobile.css">
<link rel="stylesheet" href="/Footer-CSS/footer.css">
<link rel="stylesheet" href="/Footer-CSS/footer-mobile.css">
<link rel="stylesheet" href="/CSS/BookAd.css">
<link rel="stylesheet" href="/CSS/Book AdMobile.css">
<title>Kopa Booka | Ad Board</title>
</head>
<body>

	<%- include("partials/header"); -%>

  <section id="Search-results-cont">
	  <div class="categories-cont closeList" id="categories-cont">
			<div class="all-categories" id="all-categories">
				<div class="category clicker" id="closeOpen-list">
					<h4 class="category-title">Catagory</h4>
					<i class="fa fa-caret-down switch-arrow"></i>
				</div>
				<ul class="faculty" id="facultyLists">
					<li class="faculty-list">
						<div class="faculty-title clicker">
							<span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Art Design and Architecture</span>
							<i class="faculty-arrow fa fa-caret-down" ></i>
						</div>
						<ul class="department-list">
							<% 
							  for(i = 0; i < cat_camp_list.length; i++){
								let { Art_Design_and_Architecture } = cat_camp_list[i];
								categoryLister(Art_Design_and_Architecture);

							 for(catName in categoryLister(Art_Design_and_Architecture)){ %>
								<li><a href="<%= `/Ad-board/category/${ catName }` %>" class="department-link"><%= catName %><span><%= categoryLister(Art_Design_and_Architecture)[catName] %></span></a></li>
							<%}%>

						<%	}%>
							
						</ul>
					</li>

					<li class="faculty-list">
						<div class="faculty-title clicker">
							<span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">College of Business and Economics</span>
							<i class="faculty-arrow fa fa-caret-down" ></i>
						</div>
						<ul class="department-list">

					<% 
					  for(i = 0; i < cat_camp_list.length; i++){
						let { College_of_Business_and_Economics } = cat_camp_list[i];
						categoryLister(College_of_Business_and_Economics);
					
					 for(catName in categoryLister(College_of_Business_and_Economics)){ %>
						<li><a href="<%= `/Ad-board/category/${ catName }` %>" class="department-link"><%= catName %><span><%= categoryLister(College_of_Business_and_Economics)[catName] %></span></a></li>
					<%}%>
					
				<%	}%>
									
							
						</ul>
					</li>

					<li class="faculty-list">
						<div class="faculty-title clicker">
							<span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Education</span>
							<i class="faculty-arrow fa fa-caret-down" ></i>
						</div>
						<ul class="department-list">
							<% 
							  for(i = 0; i < cat_camp_list.length; i++){
								let { Education } = cat_camp_list[i];
								categoryLister(Education);

							 for(catName in categoryLister(Education)){ %>
								<li><a href="<%= `/Ad-board/category/${ catName }` %>" class="department-link"><%= catName %><span><%= categoryLister(Education)[catName] %></span></a></li>
							<%}%>
							
						<%	}%>
						</ul>
					</li>

					<li class="faculty-list">
						<div class="faculty-title clicker">
							<span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Engineering and Built Environment</span>
							<i class="faculty-arrow fa fa-caret-down " ></i>
						</div>
						<ul class="department-list">
							<% 
							  for(i = 0; i < cat_camp_list.length; i++){
								let { Engineering_and_Built_Environment } = cat_camp_list[i];
								categoryLister(Engineering_and_Built_Environment);

							 for(catName in categoryLister(Engineering_and_Built_Environment)){ %>
								<li><a href="<%= `/Ad-board/category/${ catName }` %>" class="department-link"><%= catName %><span><%= categoryLister(Engineering_and_Built_Environment)[catName] %></span></a></li>
							<%}%>
							
						<%	}%>
						</ul>
					</li>

					<li class="faculty-list">
						<div class="faculty-title clicker">
							<span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Health Sciences</span>
							<i class="faculty-arrow fa fa-caret-down " ></i>
						</div>
						<ul class="department-list">
							<% 
							  for(i = 0; i < cat_camp_list.length; i++){
								let { Health_Sciences } = cat_camp_list[i];
								categoryLister(Health_Sciences);

							 for(catName in categoryLister(Health_Sciences)){ %>
								<li><a href="<%= `/Ad-board/category/${ catName }` %>" class="department-link"><%= catName %><span><%= categoryLister(Health_Sciences)[catName] %></span></a></li>
							<%}%>
							
						<%	}%>
						</ul>
					</li>

					<li class="faculty-list">
						<div class="faculty-title clicker">
							<span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Humanities</span>
							<i class="faculty-arrow fa fa-caret-down" ></i>
						</div>
						<ul class="department-list">
							<% 
							  for(i = 0; i < cat_camp_list.length; i++){
								let { Humanities } = cat_camp_list[i];
								categoryLister(Humanities);

							 for(catName in categoryLister(Humanities)){ %>
								<li><a href="<%= `/Ad-board/category/${ catName }` %>" class="department-link"><%= catName %><span><%= categoryLister(Humanities)[catName] %></span></a></li>
							<%}%>
							
						<%	}%>
						</ul>
					</li>

					<li class="faculty-list">
						<div class="faculty-title clicker">
							<span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Law</span>
							<i class="faculty-arrow fa fa-caret-down" ></i>
						</div>
						<ul class="department-list">
							<% 
							  for(i = 0; i < cat_camp_list.length; i++){
								let { Law } = cat_camp_list[i];
								categoryLister(Law);

							 for(catName in categoryLister(Law)){ %>
								<li><a href="<%= `/Ad-board/category/${ catName }` %>" class="department-link"><%= catName %><span><%= categoryLister(Law)[catName] %></span></a></li>
							<%}%>
							
						<%	}%>
						</ul>
					</li>

					<li class="faculty-list">
						<div class="faculty-title clicker">
							<span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Science</span>
							<i class="faculty-arrow fa fa-caret-down" ></i>
						</div>
						<ul class="department-list">
						<% 
							  for(i = 0; i < cat_camp_list.length; i++){
								let { Science } = cat_camp_list[i];
								categoryLister(Science);

							 for(catName in categoryLister(Science)){ %>
								<li><a href="<%= `/Ad-board/category/${ catName }` %>" class="department-link"><%= catName %><span><%= categoryLister(Science)[catName] %></span></a></li>
							<%}%>
							
						<%	} %>
						</ul>
					</li>
				</ul>

				<div class="category clicker">
					<h4 class="arrow category-title"><span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Campus</span></h4>
					<i class="fa fa-caret-down"></i>
				</div>

				<ul class="campus-options" id="CampusList">
					<% 
					  for(i = 0; i < cat_camp_list.length; i++){
						let { Campus } = cat_camp_list[i];
						categoryLister(Campus);

					 for(catName in categoryLister(Campus)){ %>
						<li><a href="<%= `/Ad-board/category/${ catName }` %>" class="department-link"><%= catName %><span><%= categoryLister(Campus)[catName] %></span></a></li>
					<%}%>
					
				<%	} %>
				</ul>
			</div>
		</div>
		
		


	<% let sortListUrl = req.url === `/Ad-board/latest-Ads` || req.url === `/Ad-board/price-low-to-high` || req.url === `/Ad-board/price-high-to-low` %>

	  <div class="advertisements">
			<div class="Ad-title">
		  <% if(Object.keys(req.params).length === 0 || searchQuery.toLowerCase().search(/page-\d/) !== -1 || sortListUrl ) { %>
				
				<% if(noAdsAvailable) { %>
					<h1>No Ads on Kopa-Booka</h1>
				<% } else {%>
					<h1><b>All Ads</b> on Kopa-Booka</h1>
				<% } %>
				
				
		  <% } else if(req.url.search("/category/") !== -1){ %>
				<h1><b>"<%= `${searchQuery}` %>"</b> Ads on Kopa-Booka</h1>
		  <% } else { %>
				<h1><b>"<%= `${searchQuery}` %>"</b> Ads on Kopa-Booka</h1>
		 <% } %>
			</div>
			
			<% if(noAdsAvailable) { %>
	
			<% } else { %>
			<div class="search-engine">
				<div class="searcher">
					<button type="submit" class="but search-btn" id="search-btn"><i class="fa fa-search fa-fw search-btn"></i></button>
					<input type="text" class="search" id="searcher" name="search-engine" placeholder="Search for textbook title...">
				</div>
			</div>
			<% } %>
			
			
		<%	if(notFound === false && noAdsAvailable !== true){ %>
				<div class="AdTracker-SortByDiv">
					<div class="AdTracker-TotalNum">
						<p class="AdTrackerNum"> <b><%= startingNum %></b> to <b><%= numOfCurrentAds %></b> of <b><%= totalAmountOfAds %></b> Ads</p>
					</div>
					<div class="SortBy-List">
						<button class="SortBy-Btn icon" id="SortBy-Btn">
						<% if(req.url.search("/latest-Ads") !== -1){%>
							<span class="icon">Latest Ads</span><i class="fa fa-caret-up icon" id="collapser"></i>
						<% } else if(req.url.search("/price-low-to-high") !== -1) {%>
							<span class="icon">Price Low to High</span><i class="fa fa-caret-up icon" id="collapser"></i>
						<% } else if(req.url.search("/price-high-to-low") !== -1) {%>
							<span class="icon">Price High to Low</span><i class="fa fa-caret-up icon" id="collapser"></i>
						<% } else if(req.url.search("/latest-Ads") === -1 || req.url.search("/price-low-to-high") === -1 || req.url.search("/price-high-to-low") === -1) {%>
							<span class="icon">Sort by</span><i class="fa fa-caret-up icon" id="collapser"></i>
						<% } %>
						</button>
						<ul class="Sort-List" id="Sort-List">
							<li><a href= <%= `${req.url.replace(/(\/page-\d|\/price-low-to-high|\/price-high-to-low|\/latest-Ads)/g,"")}/latest-Ads` %> class="SortList-link icon"><i class="fa fa-star-o fa-fw icon"></i>Latest Ads</a></li>
							<li><a href= <%= `${req.url.replace(/(\/page-\d|\/price-low-to-high|\/price-high-to-low|\/latest-Ads)/g,"")}/price-low-to-high`%> class="SortList-link icon"><i class="fa fa-arrow-circle-o-up fa-fw icon"></i>Price Low to High</a></li>
							<li><a href= <%= `${req.url.replace(/(\/page-\d|\/price-high-to-low|\/price-low-to-high|\/latest-Ads)/g,"")}/price-high-to-low`%> class="SortList-link icon"><i class="fa fa-arrow-circle-o-down fa-fw icon"></i>Price High to Low</a></li>
						</ul>
					</div>
				</div>
		<%	}else{ %>
				<div class="AdTracker-SortByDiv" style="display: none;">
					<div class="SortBy-List">
						<button class="SortBy-Btn icon" id="SortBy-Btn"></button>
					</div>
				</div>
		<% } %>
			
			<div id="formMod" class="modal">
				<div class="modal-content" id="modal-content">
					<div class="formTitle">
						<div class="formhead">
							<h1>Contact Seller</h1>
						</div>
						<div class="modalCloser-cont">
							<span class="modal-closer">&times </span>
						</div>
					</div>
					<div class="form">
						<% let returnUrl = `/return-url?${ req.url }`%>
						
						 <form method="POST" action="<%= returnUrl.replace("?/", "?")%>" style="width:95%;" id="form">
						 
							<div class="validifier-cont">
								<label for="Username" class="validifier" id="Username-Err">
								</label>
							</div>

							<div class="inputField-cont">
								<i class="fa fa-user ikon"></i>
								<input type="text" class="inputField-styling" id="Username" name="firstname" placeholder="Enter Your Name (Required)">
							</div>
							
							<div class="validifier-cont">
								<label for="Users-contact" class="validifier" id="contactNum-Err">
								</label>
							</div>
							
							<div class="inputField-cont">
								<i class="fa fa-phone ikon"></i>
								<input type="tel" class="inputField-styling" id="Users-contact" name="tel" placeholder="Contact Number (Optional)">
							</div>
							
							<div class="validifier-cont">
								<label for="Users-email" class="validifier" id="mailErr">
								</label>
							</div>
							
							<div class="inputField-cont">
								<i class="fa fa-envelope ikon"></i>
								<input type="email" class="inputField-styling" id="Users-email" name="email" placeholder="Email (Required)">
							</div>
							
							<div class="letter">
								<div class="validifier-cont" style="justify-content: space-between;">
									<label for="subject" id="messageLabel">Message</label>
									<label for="SubjectErrorMessage" class="validifier" id="subject-Err"></label>
								</div>
								<textarea id="subject" name="subject" placeholder="Send seller a message..."></textarea>
							</div>

							<input type="hidden" name="Post_Id" id="Post-Id">
							
							<input type="submit" id="submitFormInfo" value="Send Message">
						 </form>
						 
						 <div class="termPol">
							<p>By sending a reply to the seller, you accept our <a href="/terms-of-use">Terms of Use</a> and <a href="/privacy-policy">Privacy Policy</a>.</p>
						</div>
					</div>
				</div>
				
				
			<!-- Success -->	
				<div class="box-cont" id="box-cont">
				  <div class="box">

					  <div class="title-close-cont">
						  <h1 class="box-title">Contact Advertiser</h1>
						  <i class="modal-closer fa fa-times box-closer" ></i>
					  </div>

					  <div class="box-message-cont"> 

						  <i class="fa fa-check"></i>
						  <h1>Success!</h1>
						  <p>Thanks for your interest!</p>
						  <p>Your message has been submitted successfully</p>

					  </div>

				  </div>
				</div>
			<!-- Success -->	
				
			</div>
			
			
			<% if(noAdsAvailable) { %>
				<div class="messageBox-cont">
					<div class="message-box">
						<div class="messageTitle-cont">
							<img src="/Images/empty-set-mathematical-notation-computer-icons-mathematics-symbol-png-favpng-Nhd1quu2TEGLyZWUSR2QMxMZm-removebg-preview.png">
							<h1 class="messageTitle no-posts-available">No Ads Available</h1>
						</div>

						<div class="message-cont">
							<p class="message">There are no ads available, be the first to place an ad by clicking <a href="/place-advert">here</a>.</p>
						</div>
					</div>
				</div>
			<% } %>
			
			
		<% let displayNextSecAds = (sortLIstMethod) => { %>
			
		<%
			for(let i = 0; i < result.length; i+= 20){
				num++
				if(parseInt(urlPageNum) === num){
					sortPrices(result, sortLIstMethod);
					result.slice(i, i + 20).map(displayAds);
				}
			}
		%>

		<% } %>

		<% let displaySearchedSecAds = (sortLIstMethod, arr, sortMethod) => { %>
				
		<% let numb = 0; %>

		<%	for(let i = 0, len = result.length; i < len; i++){	 %>

		<%	let { Text_Book_Title } = result[i];

			let textBookTileMatcher = (not) => {
				not.Text_Book_Title;
				return not.Text_Book_Title.toLowerCase().search(searchQuery.toLowerCase()) !== -1;
			} 
		%>

			<% if(Boolean(result.find(textBookTileMatcher)) === true){ %>
			<%	if(result[i].Text_Book_Title.toLowerCase().search(searchQuery.toLowerCase()) !== -1){ %>
			<%	numb++;
				showFirstSearchAds.push(result[i]);	
				isTrue = true;
			%>

				<%	} %>
			<%	} else { %>
				<% notFound = true %>
				<div class="messageBox-cont">
					<div class="message-box">
						<div class="messageTitle-cont">
							<i class="fa fa-search"></i>
							<h1 class="messageTitle">Couldnt find anything</h1>
						</div>

						<div class="message-cont">
							<p class="message">Sorry we couldnt find any results for "<%= `${ searchQuery }` %>". Please check spelling, or try a different search.</p>
						</div>
					</div>
				</div>
				<% break; %>
			<% } %>
		<%	} %>
		
		<% 	if(isTrue === true){
				sortLIstMethod(arr, sortMethod);
				showFirstSearchAds.slice(0, 20).map(displayAds);
			}
		%>
			
		<% } %>
		
		
		
		<% let displayCategorySecAds = (sortLIstMethod, arr, sortMethod) => { %>

		<% let numb = 0; %>

		<%	for(let i = 0, len = result.length; i < len; i++){	 %>

		<%	let {  Sub_Category, Campus } = result[i];

			let textBookTileMatcher = (not) => {
				not.Sub_Category;
				return not.Sub_Category.toLowerCase().search(searchQuery.toLowerCase()) !== -1 || not.Campus.toLowerCase().search(searchQuery.toLowerCase()) !== -1;
			} %>

			<% if(Boolean(result.find(textBookTileMatcher)) === true){ %>
			<%	if(result[i].Sub_Category.toLowerCase().search(searchQuery.toLowerCase()) !== -1 || result[i].Campus.toLowerCase().search(searchQuery.toLowerCase()) !== -1){ %>
			<%	numb++;
				showFirstSearchAds.push(result[i]);	
				isTrue = true;
			%>

				<%	} %>
			<%	} else { %>
				<% notFound = true %>
				<div class="messageBox-cont">
					<div class="message-box">
						<div class="messageTitle-cont">
							<i class="fa fa-search"></i>
							<h1 class="messageTitle">Couldnt find anything</h1>
						</div>

						<div class="message-cont">
							<p class="message">Sorry we couldnt find any results for "<%= `${ searchQuery }` %>". Please check spelling, or try a different search.</p>
						</div>
					</div>
				</div>
				<% break; %>
			<% } %>
		<%	} %>
		
		<% 	if(isTrue === true){
				sortLIstMethod(arr, sortMethod);
				showFirstSearchAds.slice(0, 20).map(displayAds);
			}
		%>
			
		<% } %>
		
		
		
		
		
		<% let displayCategoryNexSecAds = (sortLIstMethod, arr, sortMethod) => { %>

			
		<% let numb = 0; %>
		<%	for(let i = 0, len = result.length; i < len; i++){	 %>

		<%	let { Sub_Category, Campus } = result[i]

			let textBookTileMatcher = (not) => {
				not.Sub_Category;
				return not.Sub_Category.toLowerCase().search(searchQuery.toLowerCase()) !== -1 || not.Campus.toLowerCase().search(searchQuery.toLowerCase()) !== -1;
			} %>

			<% if(Boolean(result.find(textBookTileMatcher)) === true){ %>
			<%	if(result[i].Sub_Category.toLowerCase().search(searchQuery.toLowerCase()) !== -1 || result[i].Campus.toLowerCase().search(searchQuery.toLowerCase()) !== -1){ %>
			<%	numb++;
				isTrue = true;
				showFirstSearchAds.push(result[i]);
				
			%>
			
				<%	} %>
			<%	} else { %>
				<% notFound = true %>
				<div class="messageBox-cont">
					<div class="message-box">
						<div class="messageTitle-cont">
							<i class="fa fa-search"></i>
							<h1 class="messageTitle">Couldnt find anything</h1>
						</div>

						<div class="message-cont">
							<p class="message">Sorry we couldnt find any results for "<%= `${ searchQuery }` %>". Please check spelling, or try a different search.</p>
						</div>
					</div>
				</div>
				<% break; %>
			<% } %>
		<%	} %>
		
		<% 	if(isTrue){

				for(let i = 0; i < showFirstSearchAds.length; i+= 20){
					num++
					if(parseInt(urlPageNum) === num){
						sortLIstMethod(arr, sortMethod);
						showFirstSearchAds.slice(i, i + 20).map(displayAds);
					}
				}
			}
		%>
			
			
		<% } %>
		
		
		
		
		
		
		
		<% let displaySearchedNexSecAds = (sortLIstMethod, arr, sortMethod) => { %>
			
			
		<% let numb = 0; %>
		<%	for(let i = 0, len = result.length; i < len; i++){	 %>

		<%	let { Text_Book_Title } = result[i]

			let textBookTileMatcher = (not) => {
				not.Text_Book_Title;
				return not.Text_Book_Title.toLowerCase().search(searchQuery.toLowerCase()) !== -1;
			} %>

			<% if(Boolean(result.find(textBookTileMatcher)) === true){ %>
			<%	if(result[i].Text_Book_Title.toLowerCase().search(searchQuery.toLowerCase()) !== -1){ %>
			<%	numb++;
				isTrue = true;
				showFirstSearchAds.push(result[i]);
				
			%>
			
				<%	} %>
			<%	} else { %>
				<% notFound = true %>
				<div class="messageBox-cont">
					<div class="message-box">
						<div class="messageTitle-cont">
							<i class="fa fa-search"></i>
							<h1 class="messageTitle">Couldnt find anything</h1>
						</div>

						<div class="message-cont">
							<p class="message">Sorry we couldnt find any results for "<%= `${ searchQuery }` %>". Please check spelling, or try a different search.</p>
						</div>
					</div>
				</div>
				<% break; %>
			<% } %>
		<%	} %>
		
		<% 	if(isTrue){
				for(let i = 0; i < showFirstSearchAds.length; i+= 20){
					num++
					if(parseInt(urlPageNum) === num){
						sortLIstMethod(arr, sortMethod);
						showFirstSearchAds.slice(i, i + 20).map(displayAds);
					}
				}
			}
		%>
			
			
		<% } %>
		
		
		

		<% let sortLIstMethod = () => {} %>

			<% let num = 0; %>
			<% var isTrue; %>
			<% let displayAds = (adData) => { %>

			<%	
			
			let {
				_id,
				Mail,
				Tel,
				Whatsapp_tel,
				Main_Category,
				Sub_Category,
				Text_Book_Title,
				Text_Book_Price,
				Description,
				Campus,
				Date_Created,
				UploadedImages
				} = adData; 

			    let img = UploadedImages[0];
			    let imgStr = img.toString().replace("C:\\Users\\J_Mosemeng\\Desktop\\Kopa-Booka\\", "\\").replace("/app", ""); 

				num++;
				
			%>

			<div class="Sellers-item">
				<div class="textBook-img">
					<a href="<%= `/view-ad/${ _id }` %>">
						<img src= "<%= imgStr %>" id="img" alt="Textbook">
						<h1 class="Camera-cont">
							<i class="fa fa-camera"></i>
						<%= `+${UploadedImages.length}` %>
						</h1>
					</a>
				</div>

				<div class="Ad-description">
					<a href="<%= `/view-ad/${ _id }` %>">
						<h1 class="AdDescription-title"><%= Text_Book_Title %></h1>
					</a>
					<p class="AdDescription-body">
						<%= Description %>
					</p>
					<div class="timeAndLocation-tracker">	
						<h3 class="location">
						   <i class="fa fa-map-marker"></i>
						<%= stringCapitalizer(Campus) %>
						</h3> 
						
						<h3 class="location">
						   <i class="fa fa-phone"></i>
						<%= Tel %>
						</h3> 
						<% if(Date_Created !== undefined) {%>
						<h3 class="time">
						   <i class="fa fa-clock"></i>
						<%= dateDisplayer(Date_Created) %>
						</h3>
						<% }else { %>
						<h3 class="time">
						   <i class="fa fa-clock"></i>
							2 hours
						</h3> 
						<% } %>
					</div>
				</div>

				 <div class="priceAndContact-cont">
					<div class="price-cont">
						<h3 class="price-num"><%= Text_Book_Price %></h3>
					</div>
					<div class="contact-cont">
						<button class="contact-btn">
							Contact Advertiser
						</button>
					</div>
				 </div>
			</div>
			
			<div class="MobileSellers-Cont">
				<div class="MobileSellers-Card">
					<div class="MobileCard-Header">
						<a href="<%= `/view-ad/${ _id }` %>">
							<h1 class="MobileCard-Title"><%= Text_Book_Title %></h1>
						</a>
							<h3 class="MobileCard-Price"><%= Text_Book_Price %></h3>
					</div>
					<div class="MobileTextbook-Img">
						<a href="<%= `/view-ad/${ _id }` %>">
							<img src= "<%= imgStr %>" id="Mobile-Img" alt="Textbook">
							<h1 class="MobileCamera-Cont">
								<i class="fa fa-camera"></i>
								<%= `+${UploadedImages.length}` %>
							</h1>
						</a>
					</div>

					<div class="MobileLocation-Cont">
						<h3 class="Mobile-location">
						   <i class="fa fa-map-marker"></i>
							<%= stringCapitalizer(Campus) %>
						</h3>

						<h3 class="Mobile-location">
						   <i class="fa fa-phone"></i>
							<%= Tel %>
						</h3> 
					</div>

					<div class="MobileContact-Cont">
						<button class="MobileContact-Btn">
							Contact Advertiser
						</button>
					</div>
				</div>
			</div>
		<%	} %>

		<% let showFirstSearchAds = []; %>

		<% if(req.url === `/Ad-board` || req.url === `/Ad-board/latest-Ads`) { %>

		<% result.slice(0, 20).map(displayAds); %>

		<% }else if(req.url === `/Ad-board/price-low-to-high`){ %>
		<%	sortPrices(result, lowToHighPrices); 
			result.slice(0, 20).map(displayAds);
		%>
		<% }else if(req.url === `/Ad-board/price-high-to-low`){ %>
		<%	sortPrices(result, highToLowPrices);
			result.slice(0, 20).map(displayAds);
		%>
		
		<%}else if(searchQuery.toLowerCase().search(/page-\d/) !== -1 && req.url.search("/Ad-board/price-high-to-low") !== -1){ %>
		
		<% 
		
			displayNextSecAds(highToLowPrices);
			
		%>

		<%}else if(searchQuery.toLowerCase().search(/page-\d/) !== -1 && req.url.search("/Ad-board/price-low-to-high") !== -1){ %>

		<% 
		
			displayNextSecAds(lowToHighPrices);
			
		%>

		<%} else if(searchQuery.toLowerCase().search(/page-\d/) !== -1 || req.url.search("/Ad-board/latest-Ads") !== -1) { %>

		<%	
			for(let i = 0; i < result.length; i+= 20){
				num++
				if(parseInt(urlPageNum) === num){
					result.slice(i, i + 20).map(displayAds);
				}
			}
		%>

		<% } else if(searchQuery.toLowerCase().search(/page-\d/) === -1 && pageQuery === undefined && req.url.search("/category/") !== -1 && req.url.search("/price-low-to-high") === -1 && req.url.search("/price-high-to-low") === -1) { %>

		<% 
		
			displayCategorySecAds(sortLIstMethod, "sortLIstMethod", "sortLIstMethod"); 
		
		%>
		
		<%} else if(searchQuery.toLowerCase().search(/page-\d/) === -1 && pageQuery === undefined && req.url.search("/price-low-to-high") !== -1 && req.url.search("/category/") !== -1){ %>
		
		<% 
		
			displayCategorySecAds(sortPrices, showFirstSearchAds, lowToHighPrices); 
		
		%>
		
		<%}else if(searchQuery.toLowerCase().search(/page-\d/) === -1 && pageQuery === undefined && req.url.search("/price-high-to-low") !== -1 && req.url.search("/category/") !== -1){ %>
				
		<% 
		
			displayCategorySecAds(sortPrices, showFirstSearchAds, highToLowPrices); 
		
		%>
		
		<%}else if(searchQuery.toLowerCase().search(/page-\d/) === -1 && pageQuery === undefined && req.url.search("/price-low-to-high") === -1 && req.url.search("/price-high-to-low") === -1 && req.url.search("/category/") === -1){ %>

		<% 
			displaySearchedSecAds(sortLIstMethod, "sortLIstMethod", "sortLIstMethod"); 
		%>

		<% }else if(searchQuery.toLowerCase().search(/page-\d/) === -1 && pageQuery === undefined && req.url.search("/price-low-to-high") !== -1){ %>

		<% 
			displaySearchedSecAds(sortPrices, showFirstSearchAds, lowToHighPrices); 
		%>

		<%}else if(searchQuery.toLowerCase().search(/page-\d/) === -1 && pageQuery === undefined && req.url.search("/price-high-to-low") !== -1){ %>

		<% 
			displaySearchedSecAds(sortPrices, showFirstSearchAds, highToLowPrices); 
		%>

		<%}else if(searchQuery.toLowerCase().search(/page-\d/) === -1 && pageQuery.toLowerCase().search(/page-\d/) !== -1  && req.url.search("/price-low-to-high") === -1 && req.url.search("/price-high-to-low") === -1  && req.url.search("/category/") !== -1){ %>

		<%	
			displayCategoryNexSecAds(sortLIstMethod, "sortLIstMethod", "sortLIstMethod");
		%>

		<%}else if(searchQuery.toLowerCase().search(/page-\d/) === -1 && pageQuery.toLowerCase().search(/page-\d/) !== -1  && req.url.search("/price-low-to-high") !== -1 && req.url.search("/category/") !== -1){%>

		<%	
			displayCategoryNexSecAds(sortPrices, showFirstSearchAds, lowToHighPrices);
		%>

		<%}else if(searchQuery.toLowerCase().search(/page-\d/) === -1 && pageQuery.toLowerCase().search(/page-\d/) !== -1  && req.url.search("/price-high-to-low") !== -1 && req.url.search("/category/") !== -1){%>

		<%	
			displayCategoryNexSecAds(sortPrices, showFirstSearchAds, highToLowPrices);
		%>

		<%}else if(searchQuery.toLowerCase().search(/page-\d/) === -1 && pageQuery.toLowerCase().search(/page-\d/) !== -1  && req.url.search("/price-low-to-high") === -1 && req.url.search("/price-high-to-low") === -1  && req.url.search("/category/") === -1){ %>

		<% 
			displaySearchedNexSecAds(sortLIstMethod, "sortLIstMethod", "sortLIstMethod") 
		%>
		
		<% } else if(searchQuery.toLowerCase().search(/page-\d/) === -1 && pageQuery.toLowerCase().search(/page-\d/) !== -1  && req.url.search("/price-low-to-high") !== -1){ %>
	
		<% 
			displaySearchedNexSecAds(sortPrices, showFirstSearchAds, lowToHighPrices) 
		%>
		
		
		<% } else if(searchQuery.toLowerCase().search(/page-\d/) === -1 && pageQuery.toLowerCase().search(/page-\d/) !== -1 && req.url.search("/price-high-to-low") !== -1){ %>

		<% 
			displaySearchedNexSecAds(sortPrices, showFirstSearchAds, highToLowPrices) 
		%>
		
		<% } %>




		<%

		   let totalAds = totalAmountOfAds;
		   let secNum = 2;
		   let remainderAdsTotal = totalAds % 20;
		   let pagininationTotal = totalAds / 20;
		   let plusUrlNum = parseInt(urlPageNum) + 1;
		   let minusUrlNum = parseInt(urlPageNum) - 1;

		%>

			<% if(totalAds < 20 || notFound === true){ %>

			<% }else if(totalAds > 20){ %>
			<%	if(remainderAdsTotal === 0){ %>
				<div class="pageNumberTracker">
					<div class="pageNumber-cont">
						<ul class="pageNumber-list">

			<% if(req.url.replace(/\/page-\d/,"") === req.url){ %>
							<li><a href="<%= req.url.replace(/\/page-\d/,"") %>" class="pageNumber-link active">1</a></li>
						<% } else if(req.url.search("page-2") === -1){ %>
							<li><a href="<%= `${req.url.replace(/\/page-\d/,"")}/page-${ minusUrlNum }`  %>" class="pageNumber-link"><i class="fa fa-chevron-left"></i></a></li>
							<li><a href="<%= req.url.replace(/\/page-\d/,"") %>"  class="pageNumber-link">1</a></li>
						<%} else{ %>
							<li><a href="<%= req.url.replace(/\/page-\d/,"")  %>" class="pageNumber-link"><i class="fa fa-chevron-left"></i></a></li>
							<li><a href="<%= req.url.replace(/\/page-\d/,"") %>"  class="pageNumber-link">1</a></li>
						<% } %>
			<%		for(let i = 1; i < pagininationTotal; i++){ %>

						<% if(secNum === i){ 
							secNum += 1; 
						} %>

							<%	if(`${req.url.replace(/\/page-\d/,"")}/page-${(i + 1)}` === req.url){ %>
								<li><a href="<%= `${req.url.replace(/\/page-\d/,"")}/page-${(i + 1)}` %>"  class="pageNumber-link active"><%= i + 1 %></a></li>
							<% } else { %>
								<li><a href="<%= `${req.url.replace(/\/page-\d/,"")}/page-${(i + 1)}` %>"  class="pageNumber-link"><%= i + 1 %></a></li>
							<% } %>
			<%		} %>
							<%	if(`${req.url.replace(/\/page-\d/,"")}/page-${ secNum }` === req.url){ %>

								<%	} else if(isNaN( plusUrlNum )){ %>

									<li><a href="<%= `${req.url.replace(/\/page-\d/,"")}/page-2` %>"  class="pageNumber-link"><i class="fa fa-chevron-right"></i></a></li>
								<% }else { %>
									<li><a href="<%= `${req.url.replace(/\/page-\d/,"")}/page-${ plusUrlNum }` %>"  class="pageNumber-link"><i class="fa fa-chevron-right"></i></a></li>
								<% } %>
						</ul>
					</div>
				</div>
			<%	 }else if(remainderAdsTotal > 0){ %>
			<%		let addOneToTotal = parseInt(pagininationTotal) + 1; %>

					<div class="pageNumberTracker">
						<div class="pageNumber-cont">
							<ul class="pageNumber-list">
						<% if(req.url.replace(/\/page-\d/,"") === req.url){ %>
							<li><a href="<%= req.url.replace(/\/page-\d/,"") %>" class="pageNumber-link active">1</a></li>
						<% } else if(req.url.search("page-2") === -1){ %>
							<li><a href="<%= `${req.url.replace(/\/page-\d/,"")}/page-${ minusUrlNum }`  %>" class="pageNumber-link"><i class="fa fa-chevron-left"></i></a></li>
							<li><a href="<%= req.url.replace(/\/page-\d/,"") %>"  class="pageNumber-link">1</a></li>
						<%} else{ %>
							<li><a href="<%= req.url.replace(/\/page-\d/,"")  %>" class="pageNumber-link"><i class="fa fa-chevron-left"></i></a></li>
							<li><a href="<%= req.url.replace(/\/page-\d/,"") %>"  class="pageNumber-link">1</a></li>
						<% } %>
			<%		for(let i = 1; i < addOneToTotal; i++){ %>

						<% if(secNum === i){ 
							secNum += 1; 
						 } %>

							<%	if(`${req.url.replace(/\/page-\d/,"")}/page-${(i + 1)}` === req.url){ %>
								<li><a href="<%= `${req.url.replace(/\/page-\d/,"")}/page-${(i + 1)}` %>"  class="pageNumber-link active"><%= i + 1 %></a></li>
							<% } else { %>
								<li><a href="<%= `${req.url.replace(/\/page-\d/,"")}/page-${(i + 1)}` %>"  class="pageNumber-link"><%= i + 1 %></a></li>
							<% } %>
			<%		} %>
								<%	if(`${req.url.replace(/\/page-\d/,"")}/page-${ secNum }` === req.url){ %>
 
								<%	} else if(isNaN( plusUrlNum )){ %>

									<li><a href="<%= `${req.url.replace(/\/page-\d/,"")}/page-2` %>"  class="pageNumber-link"><i class="fa fa-chevron-right"></i></a></li>
								<% }else { %>
									<li><a href="<%= `${req.url.replace(/\/page-\d/,"")}/page-${ plusUrlNum }` %>"  class="pageNumber-link"><i class="fa fa-chevron-right"></i></a></li>
								<% } %>
							</ul>
						</div>
					</div>
			<%	 } %>
			<% } %>

		</div>
  </section>  
					
  <%- include("partials/footer"); -%>

  <script src="/JS/Book Ad.js"></script>
  <script src="/JS/formValidation.js"></script>
</body>
</html>