<!DOCTYPE html>
<html lang="en-US">
<head>

<%- include("partials/head-info"); -%>

<link rel="stylesheet" href="/Home-CSS/index.css">
<link rel="stylesheet" href="/Home-CSS/index-mobile.css">
<title>Kopa Booka | Home</title>
</head>
<body>

	<%- include("partials/header"); -%>

	<div class="homePageTite-cont">
		<div class="homePage-Tite">
			<h1>Welcome to Kopa Booka - Your Online Textbook Marketplace</h1>
		</div>
		
		<div class="MobilehomePage-Tite">
			<h1>Welcome to Kopa Booka <br>Your Online Textbook Marketplace</h1>
		</div>

		<div class="homePage-freeAds">
			<h3> <a href="/register">Register</a> and Place an <a href="/place-advert"> Ad</a> on Kopa Booka to start selling instantly!</h3>
		</div>

		<div class="homePage-descript">
			<p>The best way to find any textbook you need for your studies and the <br>best way to advertise textbooks that you would like to sell.</p>
		</div>
	</div>
	
	
	<% let findMainCat = (data) => { 
			let {
				_id,
				Main_Category,
				Text_Book_Title,
				Text_Book_Price,
				Date_Created,
				UploadedImages
				} = data; 

			    let img = UploadedImages[0];
			    let imgStr = img.toString().replace("C:\\Users\\J_Mosemeng\\Desktop\\Kopa-Booka\\", "\\").replace("/app", "");

		%>

				<a href="<%= `/view-ad/${ _id } ` %>">

					<li class="categorieyBox-link">
						<div class="categorieyBox-image">
							<img src="<%= imgStr %>">
						</div>

						<div class="categorieyBox-info">
							<h5 class="categorieyBox-title"><%= Text_Book_Title %></h5>
							<h5 class="categorieyBox-price"><%= Text_Book_Price %></h5>
							<h5 class="categorieyBox-time"><%= dateDisplayer(Date_Created) %></h5>
						</div>
					</li>

				</a>

	<% } %>

	<section id="browserCategory-cont">

		<div class="browserCategory-cont">

			<div class="browserCategory-title">
				<h1>Browse Textbooks By Category</h1>
			</div>

			<div class="categories">

			<% 

			if(result.length === 0){

			%>

				<div class="messageBox-cont">
					<div class="message-box">
						<div class="messageTitle-cont">
							<img src="/Images/empty-set-mathematical-notation-computer-icons-mathematics-symbol-png-favpng-Nhd1quu2TEGLyZWUSR2QMxMZm-removebg-preview.png">
							<h1 class="messageTitle no-posts-available">No Ads Available</h1>
						</div>

						<div class="message-cont">
							<p class="message">There are no ads available, be the first to place an ad by clicking <a href="/place-advert">here</a>.</p>
						</div>
					</div>
				</div>

			<%
			} 
			%>

				<%
				outcome.map((catObj) => {
					catObj.Main_Category.map((mainCategory) => {
						if(mainCatAdsDisplay(mainCategory).length > 0){ 

				%>

				<div class="categorieyBox-cont">
					<div class="categoriey-box">
						<div class="categorieyBox-header">
							<h1>Lastest <span><%= mainCategory %></span> Ads</h1>
						</div>

						<ul class="categorieyBox-list">

							<% mainCatAdsDisplay(mainCategory).slice(0, 4).map(findMainCat) %>

						</ul>

						<div class="categorieyBox-footer">
							<h1><%=`See all  ${ mainCategory } Ads`  %></h1>
						</div>
					</div>
				</div>		

				<%		}
					})	
				});
				%>
				
			</div>
			<% 
				if(result.length > 0){ 
			%>
				<div class="allAds-cont">
					<a href="/Ad-board">
						<button class="btn"> See All Ads</button>
					</a>
				</div>
			<% } %>

		</div>
	</section>

	<%- include("partials/footer"); -%>

</body>
</html>