<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Home-Images/favicon.png">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/Header-CSS/header.css">
<link rel="stylesheet" href="/Header-CSS/headerMobile.css">
<link rel="stylesheet" href="/Footer-CSS/footer.css">
<link rel="stylesheet" href="/Footer-CSS/footer-mobile.css">
<link rel="stylesheet" href="/Home-CSS/index.css">
<link rel="stylesheet" href="/Home-CSS/index-mobile.css">
<title>Kopa Booka | Home</title>
</head>
<body>

	<%- include("partials/header"); -%>

	<div class="homePageTite-cont">
		<div class="homePage-Tite">
			<h1>Welcome to Kopa Booka - Your Online Textbook Marketplace</h1>
		</div>
		
		<div class="MobilehomePage-Tite">
			<h1>Welcome to Kopa Booka <br>Your Online Textbook Marketplace</h1>
		</div>

		<div class="homePage-freeAds">
			<h3> <a href="/register">Register</a> and Place an <a href="/place-advert"> Ad</a> on Kopa Booka to start selling instantly!</h3>
		</div>

		<div class="homePage-descript">
			<p>The best way to find any textbook you need for your studies and the <br>best way to advertise textbooks that you would like to sell.</p>
		</div>
	</div>
	
	
	<% let findMainCat = (data) => { %>
		<%	let {
				_id,
				Text_Book_Title,
				Text_Book_Price,
				Date_Created,
				UploadedImages
				} = data; 

			    let img = UploadedImages[0];
			    let imgStr = img.toString().replace("C:\\Users\\J_Mosemeng\\Desktop\\Kopa-Booka\\", "\\"); 

		%>
			<a href="<%= `/view-ad/${ _id } ` %>">
				<li class="categorieyBox-link">
					<div class="categorieyBox-image">
						<img src="<%= imgStr %>">
					</div>

					<div class="categorieyBox-info">
						<h5 class="categorieyBox-title"><%= Text_Book_Title %></h5>
						<h5 class="categorieyBox-price"><%= Text_Book_Price %></h5>
						<h5 class="categorieyBox-time"><%= dateDisplayer(Date_Created) %></h5>
					</div>
				</li>
			</a>
	<% } %>
	

	<section id="browserCategory-cont">
		<div class="browserCategory-cont">
			<div class="browserCategory-title">
				<h1>Browse Textbooks By Category</h1>
			</div>

			<div class="categories">
			<% if(mainCatAdsDisplay("Art Design and Architecture").length > 0) {%>
				<div class="categorieyBox-cont">
					<div class="categoriey-box">
						<div class="categorieyBox-header">
							<h1>Lastest <span>Art Design and Architecture</span> Ads</h1>
						</div>

						<ul class="categorieyBox-list">

						<% 
							mainCatAdsDisplay("Art Design and Architecture").slice(0, 4).map(findMainCat)
						%>	

						</ul>

						<div class="categorieyBox-footer">
							<h1>See all Art Design and Architecture Ads</h1>
						</div>
					</div>
				</div>
			<% } %>
				
				
			<% if(mainCatAdsDisplay("College of Business and Economics").length > 0) {%>
				<div class="categorieyBox-cont">
					<div class="categoriey-box">
						<div class="categorieyBox-header">
							<h1>Lastest <span>College of Business and Economics</span> Ads</h1>
						</div>

						<ul class="categorieyBox-list">
							<% 
								mainCatAdsDisplay("College of Business and Economics").slice(0, 4).map(findMainCat) 
							%>
							
						</ul>

						<div class="categorieyBox-footer">
							<h1>See all College of Business and Economics Ads</h1>
						</div>
					</div>
				</div>
			<% } %>
				
			
			<% if(mainCatAdsDisplay("Education").length > 0) {%>
				<div class="categorieyBox-cont">
					<div class="categoriey-box">
						<div class="categorieyBox-header">
							<h1>Lastest <span>Education</span> Ads</h1>
						</div>

						<ul class="categorieyBox-list">
							<% 
								mainCatAdsDisplay("Education").slice(0, 4).map(findMainCat) 
							%>
							
						</ul>

						<div class="categorieyBox-footer">
							<h1>See all Education Ads</h1>
						</div>
					</div>
				</div>
			<% } %>
				
			<% if(mainCatAdsDisplay("Engineering and Built Environment").length > 0) {%>
				<div class="categorieyBox-cont">
					<div class="categoriey-box">
						<div class="categorieyBox-header">
							<h1>Lastest <span>Engineering and Built Environment</span> Ads</h1>
						</div>

						<ul class="categorieyBox-list">
							<% 
								mainCatAdsDisplay("Engineering and Built Environment").slice(0, 4).map(findMainCat) 
							%>
							
						</ul>

						<div class="categorieyBox-footer">
							<h1>See all Engineering and Built Environment Ads</h1>
						</div>
					</div>
				</div>
			<% } %>
				
				
			<% if(mainCatAdsDisplay("Health Sciences").length > 0) {%>	
				<div class="categorieyBox-cont">
					<div class="categoriey-box">
						<div class="categorieyBox-header">
							<h1>Lastest <span>Health Sciences</span> Ads</h1>
						</div>

						<ul class="categorieyBox-list">
							<% 
								mainCatAdsDisplay("Health Sciences").slice(0, 4).map(findMainCat) 
							%>
							
						</ul>

						<div class="categorieyBox-footer">
							<h1>See all Health Sciences Ads</h1>
						</div>
					</div>
				</div>
			<% } %>
				
				
			<% if(mainCatAdsDisplay("Humanities").length > 0) {%>		
				<div class="categorieyBox-cont">
					<div class="categoriey-box">
						<div class="categorieyBox-header">
							<h1>Lastest <span>Humanities</span> Ads</h1>
						</div>

						<ul class="categorieyBox-list">
							<% 
								mainCatAdsDisplay("Humanities").slice(0, 4).map(findMainCat) 
							%>
							
						</ul>

						<div class="categorieyBox-footer">
							<h1>See all Humanities Ads</h1>
						</div>
					</div>
				</div>
			<% } %>
			
			
			<% if(mainCatAdsDisplay("Law").length > 0) {%>
				<div class="categorieyBox-cont">
					<div class="categoriey-box">
						<div class="categorieyBox-header">
							<h1>Lastest <span>Law</span> Ads</h1>
						</div>

						<ul class="categorieyBox-list">
							<% mainCatAdsDisplay("Law").slice(0, 4).map(findMainCat) %>
							
						</ul>

						<div class="categorieyBox-footer">
							<h1>See all Law Ads</h1>
						</div>
					</div>
				</div>
			<% } %>
				
			<% if(mainCatAdsDisplay("Science").length > 0) {%>	
				<div class="categorieyBox-cont">
					<div class="categoriey-box">
						<div class="categorieyBox-header">
							<h1>Lastest <span>Science</span> Ads</h1>
						</div>

						<ul class="categorieyBox-list">
							<% mainCatAdsDisplay("Science").slice(0, 4).map(findMainCat) %>
							
						</ul>

						<div class="categorieyBox-footer">
							<h1>See all Science Ads</h1>
						</div>
					</div>
				</div>
			<% } %>
				
			</div>
			
			<div class="allAds-cont">
				<a href="/Ad-board">
					<button class="btn"> See All Ads</button>
				</a>
			</div>
		</div>
	</section>
	
	<%- include("partials/footer"); -%>

	<script src="/Home-JS/index.js"></script>

</body>
</html>