<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Images/favicon.png">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/Header-CSS/header.css">
<link rel="stylesheet" href="/Header-CSS/headerMobile.css">
<link rel="stylesheet" href="/Footer-CSS/footer.css">
<link rel="stylesheet" href="/Footer-CSS/footer-mobile.css">
<link rel="stylesheet" href="/CSS/my-posts.css">
<link rel="stylesheet" href="/CSS/my-posts-mobile.css">
<title>Kopa Booka | My Ads</title>
</head>
<body>

	<%- include("partials/header"); -%> 
	
	<section id="My-Posts">
		<div class="My-Posts-header">
			<h1 class="My-Posts-title">My Ads</h1>
		</div>
	</section>

	<section id="all-posts-cont">
		<div class="posts-searchInput-cont">
			<div class="post-section-director-cont">
				<div class="post-section-director-title-cont">
					<h4>All ADS</h4>
					<span class="post-total" style="font-weight: bold;"> <%= userData.My_Ads.length %> </span>
				</div>

				<div class="searchInput-cont">
					<input type="search" placeholder="Search your ads" name="search-post" id="search-post" class="searchInput-Field-styling">
					<button class="search-btn" id="search-btn"><i class="fa fa-search"></i> Search </button>
				</div>
			</div>
		</div>

		<div class="list-handler-cont">
			<div class="delete-all-cont">
				<ul class="delete-all-list">
					<li class="delete-all-contents"><input type="checkbox" class="checkbox" id="checkbox"> Select All </li>
					<li class="delete-all-contents content-title-cont"><i class="fa fa-trash" id="delete-All"></i><div class="content-title">Delete Selected</div></li>
				</ul>
			</div>

			<div class="sort-list-cont">
				<button class="sort-list-btn">
					<span class="post-num" id="post-num"> <%= userData.My_Ads.length %> </span>
					<i class="fa fa-caret-up"></i>
				</button>
			</div>
		</div>

		<% let usersAd = (data) => { %>
		<% 

		let {

			_id,
			Name,
			Mail,
			Tel,
			Whatsapp_tel,
			Main_Category,
			Sub_Category,
			Text_Book_Title,
			Edition_Number,
			Author_Name,
			Condition,
			Text_Book_Price,
			Negotiation,
			Description,
			Campus,
			UploadedImages	

			} = data; 

			let img = UploadedImages[0];
			let imgStr = img.toString().replace("C:\\Users\\J_Mosemeng\\Desktop\\Kopa-Booka\\", "\\"); 

			%>	
			
		
			<div class="postBox-cont" id="<%= _id %>">

				<div class="postBox">

					<div class="top-sect">
						<div class="img-cont">
							<img src="<%= imgStr %>">
						</div>
						
						<div class="mid-sec">
							<div class="post-title-cont">
								<h1 class="post-title"> <%= Text_Book_Title %> </h1>
							</div>

							<div class="post-details-cont">
								<div class="post-details">
									<%= Main_Category %>
								</div>

								<div class="post-details">
									<i class="fa fa-clock"></i>Created: <b>17 Mar 17:04</b>
								</div>

								<div class="post-details">
									id: <b><%= _id %></b>
								</div>
							</div>
						</div>

						<div class="post-price">
							<span class="price"> <%= Text_Book_Price %> </span>
						</div>
					</div>

					<div class="bottom-sect">
						<div class="post-checkbox-cont">
							<input type="checkbox" class="post-checkbox">
							<span>Select Ad</span>
						</div>

						<div class="post-stats">
							<div class="stat-cont">
								<i class="fa fa-envelope"></i>
								<span> <%= userData.Ad_Messages.length %> </span>
							</div>
							<div class="stat-cont">
								<i class="fa fa-eye"></i>
								<span> 0 </span>
							</div>
						</div>

						<div class="post-edit-delete-cont">
							<a href="<%= `${ process.env.CLIENT_URL }/edit-ad/${ _id }` %>" class="editPost-link"><i class="fa fa-pencil"></i></a>
							<div class="content-title edit">Edit Ad</div>
							<i class="fa fa-trash individual-post"></i>
							<div class="content-title">Delete</div>
						</div>
					</div>

				</div>

			</div> 
		<% } %>
		
		
		
		
		
		

		<div class="all-postBox-cont">	

			<% userData.My_Ads.map(usersAd) %>

			<div class="no-posts-found" id="no-posts-found">
				<div class="no-posts-found-title">
					<h1 id="no-post-found-title"> No Ads found </h1>
				</div>

				<div class="no-posts-img">
					<img src="/Images/open-cardboard-box.png">
				</div>

				<div class="no-posts-btn-cont">
					<a href="/place-advert" class="no-posts-btn">
						Place Advert
					</a>
				</div>
			</div>
			
			
		</div>

	</section>
	
	<%- include("partials/footer"); -%>

<script src="/JS/my-posts.js"></script>	
<script src="/JS/search-posts.js"></script>	
</body>
</html>