<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Images/favicon.png">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/Header-CSS/header.css">
<link rel="stylesheet" href="/Header-CSS/headerMobile.css">
<link rel="stylesheet" href="/Footer-CSS/footer.css">
<link rel="stylesheet" href="/Footer-CSS/footer-mobile.css">
<link rel="stylesheet" href="/CSS/my-messages.css">
<link rel="stylesheet" href="/CSS/my-messages-mobile.css">
<title> Kopa Booka | My Message </title>
</head>
<body>

	<%- include("partials/header"); -%> 
	
	<%
		let minutesFormat = (time) => {
			if(time > 10){
				return time;
			}else{
				return `0${ time }`;
			}
		}
	
		let displayMessages = (messages) => { %>
		
		<%	let { 
				
				 firstname,
				 tel,
				 email,
				 Post_Id,
				 subject,
				 date_created
				
			} = messages; 
			
			let date = new Date(date_created);
			
			let months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
			
			let messageSentDate = `${ minutesFormat(date.getDate()) } ${ months[date.getMonth()] } ${ minutesFormat(date.getHours()) }:${ minutesFormat(date.getMinutes()) }`;
			
		%>

			<tr>

					<td>
						<input type="checkbox" class="checkbox sub-checkBox">
					</td>
					
					<td>
						<i class="fa fa-envelope"></i>
					</td>
					
					<td>
						<% 

						usersAds.map((ad) => { 
							if(ad._id === Post_Id ){ %>
								<%= ad.Text_Book_Title %>
						<%	}
						})
						
						%>
					</td>
					
					<td>
						<%= firstname %>
					</td>
					
					<td>
						<%= email %>
					</td>
					
					<td>
						<%= tel %>
					</td>
					
					<td>
						<%= messageSentDate %>
					</td>
					
					<td>
						<div class="content-title-cont">
							<i class="fa fa-trash" tabindex="1"></i>
							<div class="content-title">Delete</div>
						</div>
					</td>

				</tr>
			
	<%	} %>

	<section id="myMessages-title-cont">
		<div class="myMessages-title-cont">
			<h1 class="myMessages-title">My Messages<h1>
		</div>
	</section>
	
	<section id="my-messages-cont">
		<div class="searchMyMessages-cont">
			<div class="header-cont">
				<div class="myMessage-header">
					<h1>Messages</h1>
					<span><%= msg.length %></span>
				</div>

				<button class="deleteAll-cont" id="deleteAll-cont">
					<i class="fa fa-trash"></i>
					<h1>Delete Selected</h1>
					<div class="content-title" id="content-title">Delete Selected</div>
				</button>
			</div>

			<div class="searchEngine">
				<input type="search" name="search_messages" id="search-messages" class="inputField-styling" placeholder="Search buyers email or phone number or by advert title...">
				<button class="searchEngine-btn" id="searchEngine-btn"><i class="fa fa-search"></i>Search</button>
			</div>

			<table id="table">
				<tr>

					<th>
						<input type="checkbox" class="checkbox" id="main-checkbox">
					</th>

					<th>
						<h5>&nbsp;</h5>
					</th>

					<th>
						<h5>ADVERT</h5>
					</th>
					
					<th>
						<h5>NAME OF RESPONDER</h5>
					</th>
					
					<th>
						<h5>EMAIL OF RESPONDER</h5>
					</th>
					
					<th>
						<h5>TEL OF RESPONDER</h5>
					</th>
					
					<th>
						<h5>DATE RECEIVED</h5>
					</th>
					
					<th>
						<h5>&nbsp;</h5>
					</th>
			
				</tr>
				
				
				<% msg.map(displayMessages) %>
				
			</table>
			
			<% if(msg.length === 0){ %>
				<div class="no-posts-found" id="no-posts-found" style="display: flex;">
					<div class="no-posts-found-title">
						<h1 id="no-post-found-title"> You do not have any ads. </h1>
					</div>

					<div class="no-posts-img">
						<img src="/Images/open-cardboard-box.png">
					</div>

					<div class="no-posts-btn-cont">
						<a href="/place-advert" class="no-posts-btn">
							Place Advert
						</a>
					</div>
				</div>
			<% }else { %>
				<div class="no-posts-found" id="no-posts-found">
					<div class="no-posts-found-title">
						<h1 id="no-post-found-title"> No Messages Received </h1>
					</div>

					<div class="no-posts-img">
						<img src="/Images/open-cardboard-box.png">
					</div>
				</div>
			<% } %>

		</div>
	</section>

	<%- include("partials/footer"); -%>

	<% 

		let slideShowAds = (messages) => { %>

		<%	let { 
				
				firstname,
				tel,
				email,
				Post_Id,
				subject,
				date_created

			} = messages; 

			let date = new Date(date_created);
			
			let months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
			
			let messageSentDate = `${ minutesFormat(date.getDate()) } ${ months[date.getMonth()] } ${ minutesFormat(date.getHours()) }:${ minutesFormat(date.getMinutes()) }`;

		%>

		<div class="post-info-cont">

			<div class="slide-closer" tabindex="1"> 
				<i class="fa fa-times"></i> <span> Close</span>
			</div>

			<div class="post-info">
				<div class="buyersMessage-cont">

					<div class="buyersMessage-title">
						<i class="fa fa-envelope"></i>
						<h4>Email</h4>
					</div>

					<div class="info-message-cont">
					  <div class="buyers-info">
							<div> <i class="fa fa-user"></i> <span> <%= firstname %> </span> </div>
							<% if(tel === "" || tel.length === 0) { %>
								<div class="white" style="display: none;"> <i class="fa fa-phone"></i> <span> <%= tel %> </span> </div>
							<% } else { %>
								<div class="white"> <i class="fa fa-phone"></i> <span> <%= tel %> </span> </div>
							<% } %>
							<div class="white"> <i class="fa fa-envelope"></i> <span> <%= email %> </span> </div>
							<div> <i class="fa fa-calendar"></i> <span> <%= messageSentDate %> </span> </div>
					  </div>

					  <div class="buyers-message">
							<p> <%= subject %> </p>
					  </div>
					</div>

				</div>
				
				<% 

				usersAds.map((ad) => { 
					if(ad._id === Post_Id ){ %>
					

					<% 

					let {

						_id,
						Name,
						Mail,
						Tel,
						Whatsapp_tel,
						Main_Category,
						Sub_Category,
						Text_Book_Title,
						Edition_Number,
						Author_Name,
						Condition,
						Text_Book_Price,
						Negotiation,
						Description,
						Campus,
						UploadedImages	

						} = ad; 

						let img = UploadedImages[0];
						let imgStr = img.toString().replace("C:\\Users\\J_Mosemeng\\Desktop\\Kopa-Booka\\", "\\"); 

					%>

					<div class="post-card">
						<div class="img-cont">
							<a href="<%= `/view-ad/${ _id }` %>">
								<img src="<%= imgStr %>">
							</a>
						</div>

						<div class="post-details">

							<div class="post-title-cont">
								<a href="<%= `/view-ad/${ _id }` %>"> <h4 class="post-title"> <%= Text_Book_Title %> </h4> </a>
							</div>

							<div class="post-descript">
								<span> <%= Text_Book_Price %> For Sale </span>
								<p> <%= Description %> </p>
							</div>

							<div class="post-date-cont">
								<div class="post-date">
									Created: <span>25 Mar 17:17</span>
								</div>
							</div>

						</div>
					</div>
						
				<%	} 
				})
				
				%>

			</div>
		</div>

		
	<%	}
	
	%>
	
	
	
	
	
	
	
<div class="MessageDetailsInfo-cont" id="post-info-cont">

	<% msg.map(slideShowAds) %>

</div>

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	
	
	
	

<script src="/JS/my-messages.js"></script>
<script src="/JS/myMsg-searchEngine.js"></script>
</body>
</html>