<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Images/favicon.png">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/Header-CSS/header.css">
<link rel="stylesheet" href="/Header-CSS/headerMobile.css">
<link rel="stylesheet" href="/Footer-CSS/footer.css">
<link rel="stylesheet" href="/Footer-CSS/footer-mobile.css">
<link rel="stylesheet" href="/CSS/my-messages.css">
<link rel="stylesheet" href="/CSS/my-messages-mobile.css">
<title> Kopa Booka | My Message </title>
</head>
<body>

	<%- include("partials/header"); -%> 
	
	<%
		let minutesFormat = (time) => {
			if(time > 10){
				return time;
			}else{
				return `0${ time }`;
			}
		}
	
		let displayMessages = (messages) => { %>
		
		<%	let { 
				
				 firstname,
				 tel,
				 email,
				 Post_Id,
				 subject,
				 date_created
				
			} = messages; 
			
			let date = new Date(date_created);
			
			let months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
			
			let messageSentDate = `${ minutesFormat(date.getDate()) } ${ months[date.getMonth()] } ${ minutesFormat(date.getHours()) }:${ minutesFormat(date.getMinutes()) }`;
			
		%>
			
			
			<tr>

					<td>
						<input type="checkbox" class="checkbox">
					</td>
					
					<td>
						<i class="fa fa-envelope"></i>
					</td>
					
					<td>
						<% 

						usersAds.map((ad) => { 
							if(ad._id === Post_Id ){ %>
								<%= ad.Text_Book_Title %>
						<%	}
						})
						
						%>
					</td>
					
					<td>
						<%= firstname %>
					</td>
					
					<td>
						<%= email %>
					</td>
					
					<td>
						<%= tel %>
					</td>
					
					<td>
						<%= messageSentDate %>
					</td>
					
					<td>
						<div class="content-title-cont">
							<i class="fa fa-trash"></i>
							<div class="content-title">Delete</div>
						</div>
					</td>

				</tr>
			
	<%	} %>

	<section id="myMessages-title-cont">
		<div class="myMessages-title-cont">
			<h1 class="myMessages-title">My Messages<h1>
		</div>
	</section>
	
	<section id="my-messages-cont">
		<div class="searchMyMessages-cont">
			<div class="myMessage-header">
				<h1>Messages</h1>
				<span><%= msg.length %></span>
			</div>
			
			<div class="searchEngine">
				<input type="search" name="search_messages" id="search-messages" class="inputField-styling" placeholder="Search buyers email or phone number...">
				<button class="searchEngine-btn" id="searchEngine-btn"><i class="fa fa-search"></i>Search</button>
			</div>

			<table id="table">
				<tr>

					<th>
						<input type="checkbox" class="checkbox">
					</th>

					<th>
						<h5>&nbsp;</h5>
					</th>

					<th>
						<h5>ADVERT</h5>
					</th>
					
					<th>
						<h5>NAME OF RESPONDER</h5>
					</th>
					
					<th>
						<h5>EMAIL OF RESPONDER</h5>
					</th>
					
					<th>
						<h5>TEL OF RESPONDER</h5>
					</th>
					
					<th>
						<h5>DATE RECEIVED</h5>
					</th>
					
					<th>
						<h5>&nbsp;</h5>
					</th>
			
				</tr>
				
				
				<% msg.map(displayMessages) %>
				
			</table>
			
		</div>
	</section>
	
		<div class="btn">
	<button id="Slide-btn">SHOW SLIDE</button>
</div>

	<%- include("partials/footer"); -%>
	
	
	
	<% 
	
		let slideShowAds = () => { %>
			
	<%	}
	
	%>
	
	
	
	
	
	
	
<div class="MessageDetailsInfo-cont" id="post-info-cont">

	<div class="post-info-cont">
		
		<div class="slide-closer" id="closer" tabindex="1"> 
			<i class="fa fa-times"></i> <span> Close</span>
		</div>
		
		<div class="post-info">
			<div class="buyersMessage-cont">
				
				<div class="buyersMessage-title">
					<i class="fa fa-envelope"></i>
					<h4>Email</h4>
				</div>
				
				<div class="info-message-cont">
				  <div class="buyers-info">
						<div> <i class="fa fa-user"></i> <span> Junior </span> </div>
						<div class="white"> <i class="fa fa-phone"></i> <span> 0739936217 </span> </div>
						<div class="white"> <i class="fa fa-envelope"></i> <span> inherejump@gmail.com </span> </div>
						<div> <i class="fa fa-calendar"></i> <span> 15: 00 </span> </div>
				  </div>

				  <div class="buyers-message">
						<p> Hi, I am interested in the Fundamentals
						Of Financial Accounting </p>
				  </div>
				</div>

			</div>

			<div class="post-card">
				<div class="img-cont">
					<a href="#">
						<img src="https://i.ibb.co/cTPwJJS/IMG-20210427-091547-edit.jpg">
					</a>
				</div>
				
				<div class="post-details">

					<div class="post-title-cont">
						<a href="#"> <h4 class="post-title"> Fundamentals Of Financial Accounting </h4> </a>
					</div>

					<div class="post-descript">
						<span> R400 For Sale </span>
						<p> Clean and in very good condition  </p>
					</div>

					<div class="post-date-cont">
						<div class="post-date">
							Created: <span>25 Mar 17:17</span>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

</div>

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	
	
	
	

<script>

let slide = document.getElementById("post-info-cont");
let slideCloser = document.getElementById("closer");
let slideBtn = document.getElementById("Slide-btn");

function closer(){
	 if(slide.style.width === '50%'){
    	slide.style.width = '0';
    	slide.style.borderLeft = '0';
    }else{
    	slide.style.width = '50%';
    	slide.style.borderLeft = '1px solid #888';
    }
}

slideBtn.onclick = () => {
   closer();
}

slideCloser.onclick = () => {
   closer();
}





</script>
<script src="/JS/my-messages.js"></script>
<script src="/JS/myMsg-searchEngine.js"></script>
</body>
</html>