<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Profile-Images/favicon.png">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/Header-CSS/header.css">
<link rel="stylesheet" href="/Header-CSS/headerMobile.css">
<link rel="stylesheet" href="/Footer-CSS/footer.css">
<link rel="stylesheet" href="/Footer-CSS/footer-mobile.css">
<link rel="stylesheet" href="/Profile-CSS/Profile.css">
<link rel="stylesheet" href="/Profile-CSS/ProfileMobile.css">
<title>Kopa Booka | My Profile</title>
</head>
<body>

	<%- include("partials/header"); -%>
	
	<section id="profile">
		<div class="profile-header">
			<h1 class="profile-title">My Profile</h1>
		</div>
	</section>

	<section id="profile-form">
		<div class="profileform-card">
			<div class="profile-contact">
				<form method="POST" action="/Profile" class="form">
					<div class="contact-details">
						<div class="profilecont-header">
							<h1 class="profileheader-title">Contact Details</h1>
						</div>
						<div class="nameAddress-details input">
							<div class="inputlabel-cont">
							<% if(Name.trim() === "") { %>
								<div class="label-cont">
									<label for="first-name" class="label">Name <span class="required">*</span></label></label>
									<span class="validifier" id="first-name-Err"></span>
								</div>
								<input type="text" class="inputField-styling" placeholder="Enter your name..." name="name" id="first-name">
							<% } else {%>
								<div class="label-cont">
									<label for="first-name" class="label">Name <span class="required">*</span></label></label>
									<span class="validifier" id="first-name-Err"></span>
								</div>
								<input type="text" class="inputField-styling" placeholder="Enter your name..." value="<%= Name %>" name="name" id="first-name">
							<% } %>
							</div>
							<div class="inputlabel-cont">
							<% if(Surname.trim() === "") {%>
								<div class="label-cont">
									<label for="last-name" class="label">Surname <span class="required">*</span></label></label>
									<span class="validifier" id="last-name-Err"></span>
								</div>
								<input type="text" class="inputField-styling" placeholder="Enter your surname..."  name="surname" id="last-name">
							<% } else { %>
								<div class="label-cont">
									<label for="last-name" class="label">Surname <span class="required">*</span></label></label>
									<span class="validifier" id="last-name-Err"></span>
								</div>
								<input type="text" class="inputField-styling" placeholder="Enter your surname..." value="<%= Surname %>" name="surname" id="last-name">
							<% } %>
							</div>
						</div>
						<div class="number-details input">
							<div class="inputlabel-cont">
							<% if(Tel.trim() === "") {%>
								<div class="label-cont">
									<label for="telNum" class="label">Phone Number <span class="required">*</span></label>
									<span class="validifier" id="telNum-Err"></span>
								</div>
								<input type="tel" class="inputField-styling" placeholder="Mobile or telephone number..." name="tel" id="telNum">
							<% } else { %>
								<div class="label-cont">
									<label for="telNum" class="label">Phone Number <span class="required">*</span></label>
									<span class="validifier" id="telNum-Err"></span>
								</div>
								<input type="tel" class="inputField-styling" placeholder="Mobile or telephone number..." value="<%= Tel %>" name="tel" id="telNum">
							<% } %>
							</div>
							<% if(Campus.trim() === "select campus" || Campus.trim() === "") { %>
							<div class="inputlabel-cont">
								<div class="label-cont">
									<label for="select-campus" class="label">Campus where you sell at <span class="required">*</span></label>
									<span class="validifier" id="select-campus-Err"></span>
								</div>

								<select name="campus" id="select-campus" >
									<option value="select campus" selected>Select campus</option>
									<% categories.map((cat) => { %>
									<%	cat.Campus.map((campus) => { %>
											<option value="<%= campus.toLowerCase() %>" ><%= campus %></option>
									<%	}); %>
									<% }) %>
								</select>

							</div>
							<% }else { %>
							<div class="inputlabel-cont">
								<div class="label-cont">
									<label for="select-campus" class="label">Campus where you sell at <span class="required">*</span></label>
									<span class="validifier" id="select-campus-Err"></span>
								</div>

								<select name="campus" id="select-campus" >
									<option value="select campus" selected>Select campus</option>
									<% categories.map((cat) => { %>
									<%	cat.Campus.map((campus) => { %>
										<% if(Campus.toLowerCase() === campus.toLowerCase()){ %>
												<option value="<%= campus.toLowerCase() %>" selected><%= campus %></option>
										<% 	}else { %>
												<option value="<%= campus.toLowerCase() %>"><%= campus %></option>
									<% } %>
									<%	}); %>
									<% }) %>
								</select>

							</div>
							<% } %>
						</div>
						<div class="sub-cont">
							<input type="submit" id="submit-update" class="sub" value="Update Profile">
						</div>
					</div>
				</form>

				<form  method="POST" action="/password" class="formPassword">
					<div class="change-password">
						<div class="changepass-header">
							<h1 class="changepass-title">Change Password</h1>
						</div>
						<div class="changepass-cont">
							<div class="inputlabel-cont input">
								<div class="label-cont">
									<label for="password" class="label">Current Password <span class="required">*</span></label>
									<span class="validifier" id="oldPass-Err"></span>
								</div>
								<input type="password" class="inputField-styling"  placeholder="Enter your current password..." name="password" id="Oldpass">
							</div>
							<div class="inputlabel-cont input">
								<div class="label-cont">
									<label for="passConf" class="label">New password <span class="required">*</span></label>
									<span class="validifier" id="newPass-Err"></span>
								</div>
								<input type="password" class="inputField-styling" name="passwordConfirmation" placeholder="Enter between 7 and 16 characters..." id="newPass">
							</div>
						</div>
						<div class="sub-cont">
							<input type="submit" id="submitPassWord" class="sub" value="Update Password">
						</div>
					</div>
				</form>

			</div>
		</div>
	</section>
	

	<%- include("partials/footer"); -%>

	<script src="/Profile-JS/Profile.js"></script>
	<script src="/Profile-JS/formValidation.js"></script>
</body>