<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Registration-Images/favicon.png">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/Header-CSS/header.css">
<link rel="stylesheet" href="/Header-CSS/headerMobile.css">
<link rel="stylesheet" href="/Footer-CSS/footer.css">
<link rel="stylesheet" href="/Footer-CSS/footer-mobile.css">
<link rel="stylesheet" href="/Registration-CSS/register.css">
<link rel="stylesheet" href="/Registration-CSS/registerMobile.css">
<title>Kopa Booka | Registration</title>
</head>
<body>

	<%- include("partials/header"); -%>  

	<section id="register">
		<div class="reg-cont">
			<h1 class="reg-title">Register Your Account Today</h1>
		</div>
		<div class="regMobile-cont">
			<h1 class="regMobile-title">Register Your Account<br>Today</h1>
		</div>
	</section>
	<% let { email, password, passConfirmation } = json; %>

	<% if(Boolean(result.find(emailMatcher)) === true) {%>
		<div class="registered-cont">
			<div class="registered">
			   <span> An account with this email address has already been registered. 
					Please <a href="/login"> Login </a> or <a href="#"> Reset  your Password.</a> 
			   </span>
			</div>
		</div>
	<% } else { %>
		
	<% } %>

	<section id="register-form">

		<div class="reg-card">

			<div class="reg-form">
				<div class="regform-cont">
					<h1 class="regform-title">Create account</h1>
				</div>

				<form action="/register" method="POST" class="form">
					<div class="inputField-cont">
					<% if(email === "" || email === undefined || email === null) { %>
						<div class="label-cont">
							<label for="email" class="label">Email <span class="required">*</span></label>
							<label for="email" class="validifier" style="display: flex;"> <%=  "Required" %> </label>
						</div>
						<input type="email" name="email" id="Usersemail" class="inputField-styling redBox" placeholder="Insert email address...">
					<% } else if(emailRegexChecks.emailRegEx === false){ %>
						<div class="label-cont">
							<label for="email" class="label">Email <span class="required">*</span></label>
							<label for="email" class="validifier" style="display: flex;"> <%=  "Invalid Email" %> </label>
						</div>
						<input type="email" name="email" id="Usersemail" class="inputField-styling redBox" placeholder="Insert email address...">
					<% } else { %>
						<div class="label-cont">
							<label for="email" class="label">Email <span class="required">*</span></label>
							<label for="email" class="validifier" id="mailErr"></label>
						</div>
						<input type="email" name="email" id="Usersemail" class="inputField-styling" placeholder="Insert email address...">
					<% } %>
					</div>

					<div class="inputField-cont">
					<% if(validationPasswordChecks.findEmpty) { %>
						<div class="label-cont">
							<label for="password" class="label">Password <span class="required">*</span></label>
							<label for="password" class="validifier" id="passwordErr" style="display: flex;"> <%=  "Required" %>  </label>
						</div>
						<input type="password" id="password" name="password" class="inputField-styling redBox" placeholder="Insert Atleast 7 or more characters...">
					<% } else  if(validationPasswordChecks.findLength) { %>
						<div class="label-cont">
							<label for="password" class="label">Password <span class="required">*</span></label>
							<label for="password" class="validifier" id="passwordErr" style="display: flex;"> <%=  "Must be between 7 to 16 characters" %>  </label>
						</div>
						<input type="password" id="password" name="password" class="inputField-styling redBox" placeholder="Insert Atleast 7 or more characters...">
					<% } else  if(validationPasswordChecks.findUpperCase) { %>
						<div class="label-cont">
							<label for="password" class="label">Password <span class="required">*</span></label>
							<label for="password" class="validifier" id="passwordErr" style="display: flex;"> <%=  "Include atleast 1 Uppercase character" %>  </label>
						</div>
						<input type="password" id="password" name="password" class="inputField-styling redBox" placeholder="Insert Atleast 7 or more characters...">
					<% } else  if(validationPasswordChecks.findLowerCase) { %>
						<div class="label-cont">
							<label for="password" class="label">Password <span class="required">*</span></label>
							<label for="password" class="validifier" id="passwordErr" style="display: flex;"> <%=  "Include atleast 1 lowecase character" %>  </label>
						</div>
						<input type="password" id="password" name="password" class="inputField-styling redBox" placeholder="Insert Atleast 7 or more characters...">
					<% } else  if(validationPasswordChecks.findSpecialChar) { %>
						<div class="label-cont">
							<label for="password" class="label">Password <span class="required">*</span></label>
							<label for="password" class="validifier" id="passwordErr" style="display: flex;"> <%=  "Include atleast 1 special character" %>  </label>
						</div>
						<input type="password" id="password" name="password" class="inputField-styling redBox" placeholder="Insert Atleast 7 or more characters...">
					<% } else  if(validationPasswordChecks.findDigit) { %>
						<div class="label-cont">
							<label for="password" class="label">Password <span class="required">*</span></label>
							<label for="password" class="validifier" id="passwordErr" style="display: flex;"> <%=  "Include atleast 1 numeric digit" %>  </label>
						</div>
						<input type="password" id="password" name="password" class="inputField-styling redBox" placeholder="Insert Atleast 7 or more characters...">
					<% } else { %>
						<div class="label-cont">
							<label for="password" class="label">Password <span class="required">*</span></label>
							<label for="password" class="validifier" id="passwordErr"></label>
						</div>
						<input type="password" id="password" name="password" class="inputField-styling" placeholder="Insert Atleast 7 or more characters...">
					<% } %>
						<span>
							<p class="password-rules" style="line-height: 1.8rem;">Must be atleast 7 to 16 characters which contains atleast 1 uppercase letter, atleast 1 lowercase letter, atleast 1 special Character and atleast 1 digit.</p>
						</span>
					</div>

					<div class="inputField-cont password-conformation">
					<% if(validationPasswordChecks.findMatch) { %>
						<div class="label-cont">
							<label for="passConfirmation" class="label">Confirm password <span class="required">*</span></label>
							<label for="passConfirmation" class="validifier" id="passConfErr" style="display: flex;"> <%=  "Passwords dont match!" %> </label>
						</div>
						<input type="password" id="passConf" name="passConfirmation" class="inputField-styling redBox" placeholder="Re-enter password...">
					<% } else { %>
						<div class="label-cont">
							<label for="passConfirmation" class="label">Confirm password <span class="required">*</span></label>
							<label for="passConfirmation" class="validifier" id="passConfErr"></label>
						</div>
						<input type="password" id="passConf" name="passConfirmation" class="inputField-styling" placeholder="Re-enter password...">
					<% } %>
					</div>

					<div class="reg-agreement">
						<p>By Registering an account you agree to our <a href="/terms-of-use" class="reg-link">Terms of Use</a> and <a href="/privacy-policy" class="reg-link">Privacy Notice</a>.</p>
					</div>

					<input type="Submit" value="Register" id="sub">

					<div class="accholder-info">
						<p>Already have an account? <a href="/login" class="reg-link">Log in</a>.</p>
					</div>
				</form>

			</div>

			<div class="reg-benefits">
				<div class="regben-title">
					<h1 class="regben-name">Benefits of owning a<br> Kopa Booka account</h1>
				</div>
				<div class="regbenMobile-title">
					<h1 class="regbenMobile-name">Benefits of owning a Kopa Booka account</h1>
				</div>
				<div class="regben-list">
					<ul>
						<li class="benefit">With a kopa Booka account, any person can buy and sell!</li>
						<li class="benefit">You can create your own ads.</li>
						<li class="benefit">Have all the contact details of interested parties in one user-friendly interface.</li>
						<li class="benefit">You can update your personal details anytime you please.</li>
						<li class="benefit">You decide how you want buyers to contact you.</li>
					</ul>
				</div>
			</div>
		</div>

	</section>

	<%- include("partials/footer"); -%>
	
  <script src="/Registration-JS/register.js"></script>
  <script src="/Registration-JS/validation.js"></script>
</body>
</html>