<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Textbook-info-Images/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/Header-CSS/header.css">
<link rel="stylesheet" href="/Header-CSS/headerMobile.css">
<link rel="stylesheet" href="/Footer-CSS/footer.css">
<link rel="stylesheet" href="/Footer-CSS/footer-mobile.css">
<link rel="stylesheet" href="/Textbook-info-CSS/Draft.css"> 
<link rel="stylesheet" href="/Textbook-info-CSS/DraftMobile.css"> 
</head>
<title>
<%= `${ Text_Book_Title } | Kopa Booka` %>
</title>
<body>

<%- include("partials/header"); -%>	
  
 <section id="adv">
 
 

			<div id="myModal" class="modal">
				<span class="close"> &times </span>

				<div class="modal-content">
					<%	for(i = 0; i < UploadedImages.length; i++){ %>
					<%	let imgStr = UploadedImages[i].toString().replace("C:\\Users\\J_Mosemeng\\Desktop\\Kopa-Booka\\", "\\"); %>
						<div class="mySlides">
							<img src="<%= imgStr %>" class="name" alt="Tax-textbook">
						</div>
					<% } %>

					<a class="pre" onclick="moveSlide(-1)"><</a>
					<a class="nex" onclick="moveSlide(1)">></a>

				</div>
			</div>
 

  
	<div class="sec">
		<div class="slideCont">
			<div class="slide-container">
			<%	for(i = 0; i < UploadedImages.length; i++){  %>
			<%		let imgStr = UploadedImages[i].toString().replace("C:\\Users\\J_Mosemeng\\Desktop\\Kopa-Booka\\", "\\"); %>
					<div class="slides">
						<img src="<%= imgStr %>"   onclick = "showModal();presentSlide(<%= i + 1 %>)"  alt="Tax-textbook" >
					</div>
			<%	} %>

				<a class="prev" onclick="plusSlides(-1)"><</a>
				<a class="next" onclick="plusSlides(1)">></a>

			<div class="row">
			<%	for(i = 0; i < UploadedImages.length; i++){ %>
			<%	let imgStr = UploadedImages[i].toString().replace("C:\\Users\\J_Mosemeng\\Desktop\\Kopa-Booka\\", "\\"); %>
					<div class="column">
						<div class="pic">
							<img class="demo cursor" src="<%= imgStr %>" class="pic"  onclick="currentSlide(<%= i + 1 %>)" alt="Tax-textbook">
						</div>
					</div>
			<% } %>
			</div>

			<div class="ad-details">

				<div class="ad-head">
					<h1 class="ad-title" id="ad-title"><%= Text_Book_Title %></h1>
				</div>
				
				<div class="ad-amount">
					<h3><span class="ad-price"><%= Text_Book_Price %></span></h3>
				</div>
				
				<div class="ad-descript">
					<p><%= Description %></p>
				</div>
			</div>
				
			</div>
			
		</div>
		
		
			<div class="sell-info">
				<div class="ad-info">
					<em class="left">Catagory:</em>
					<b class="right"><%= `${ Main_Category} - ${ stringCapitalizer(Sub_Category) }` %> </b>
				</div>

				<div class="ad-info">
					<em class="left">Contact:</em>
					<b class="right"><%= Tel %></b>
				</div>

				<div class="ad-info">
					<em class="left">Email:</em>
					<b class="right"><%= Mail %></b>
				</div>

				<div class="ad-info">
					<em class="left">Negotiable:</em>
					<b class="right"><%= stringCapitalizer(Negotiation) %></b>
				</div>
				
				<div class="ad-info">
					<em class="left">Condition:</em>
					<b class="right"><%= stringCapitalizer(Condition) %></b>
				</div>
				
				<div class="ad-info">
					<em class="left">Author:</em>
					<b class="right"><%= stringCapitalizer(Author_Name) %></b>
				</div>
				
				<div class="ad-info">
					<em class="left">Edition:</em>
					<b class="right"><%= `${ Edition_Number }` %></b>
				</div>

				<div class="ad-info">
					<em class="left">Published:</em>
					<b class="right">20/03/2020</b>
				</div>

				<div class="ad-info">
					<em class="left">Campus:</em>
					<b class="right"><%= stringCapitalizer(Campus)  %></b>
				</div>
				
				<div class="ad-info">
					<em class="left">Ad ID:</em>
					<b class="right"><%= _id %></b>
				</div>
			</div>
		
		
		<div class="form-content">
		
			<div class="formTitle">
				<div class="formhead">
					<h1>Contact Seller</h1>
				</div>
			</div>

			<div class="form">
				<% let returnUrl = `/return-url?${ req.url }`%>

				 <form method="POST" action="" id="form">
				 
					<div class="validifier-cont">
						<label for="Username" class="validifier" id="Username-Err">
						</label>
					</div>
					
					<div class="inputField-cont">
						<i class="fa fa-user ikon"></i>
						<input type="text" class="inputField-styling" id="Username" name="firstname" placeholder="Name (Required)">
					</div>
					
					<div class="validifier-cont">
						<label for="Users-contact" class="validifier" id="contactNum-Err">
						</label>
					</div>
					
					<div class="inputField-cont">
						<i class="fa fa-phone ikon"></i>
						<input type="text" class="inputField-styling" id="Users-contact" name="tel" placeholder="Phone Number (Optional)">
					</div>
					
					<div class="validifier-cont">
						<label for="Users-email" class="validifier" id="mailErr">
						</label>
					</div>
					
					<div class="inputField-cont">
						<i class="fa fa-envelope ikon"></i>
						<input type="email" class="inputField-styling" id="Users-email" name="email" placeholder="Email (Required)">
					</div>
					
					<div class="letter">
						<div class="validifier-cont" style="justify-content: space-between;">
							<label for="subject" id="messageLabel">Message</label>
							<label for="SubjectErrorMessage" class="validifier" id="subject-Err"></label>
						</div>
						<textarea id="subject" name="subject" placeholder="Send seller a message..."></textarea>
					</div>
					
					<input type="submit" id="submitFormInfo" value="Send">
					
					<div class="termPol">
						<p>By sending a reply to the seller, you hereby accept our <a href="/terms-of-use">Terms of Use</a> and <a href="/privacy-policy">Privacy Policy</a>.</p>
					</div>
				 </form>
			</div>
		</div>
	  
	 </div>
	 
	 <div class="mobileSell-info-cont">
	 	<div class="mobileSell-info">
				<div class="ad-info">
					<em class="left">Catagory:</em>
					<b class="right"><%= `${ Main_Category} - ${ stringCapitalizer(Sub_Category) }` %> </b>
				</div>

				<div class="ad-info">
					<em class="left">Contact:</em>
					<b class="right"><%= Tel %></b>
				</div>

				<div class="ad-info">
					<em class="left">Email:</em>
					<b class="right"><%= Mail %></b>
				</div>

				<div class="ad-info">
					<em class="left">Negotiable:</em>
					<b class="right"><%= stringCapitalizer(Negotiation) %></b>
				</div>
				
				<div class="ad-info">
					<em class="left">Condition:</em>
					<b class="right"><%= stringCapitalizer(Condition) %></b>
				</div>
				
				<div class="ad-info">
					<em class="left">Author:</em>
					<b class="right"><%= stringCapitalizer(Author_Name) %></b>
				</div>
				
				<div class="ad-info">
					<em class="left">Edition:</em>
					<b class="right"><%= `${ Edition_Number }` %></b>
				</div>

				<div class="ad-info">
					<em class="left">Published:</em>
					<b class="right">20/03/2020</b>
				</div>

				<div class="ad-info">
					<em class="left">Campus:</em>
					<b class="right"><%= stringCapitalizer(Campus)  %></b>
				</div>
				
				<div class="ad-info">
					<em class="left">Ad ID:</em>
					<b class="right"><%= _id %></b>
				</div>
			</div>
		</div>
</section>



	
	<%- include("partials/footer"); -%>
	

<script src="/Textbook-info-JS/Draft.js"></script>
<script src="/Textbook-info-JS/Slides.js"></script>
<script src="/Textbook-info-JS/menFoot.js"></script>
<script src="/Textbook-info-JS/formVal.js"></script>
</body>
</html>
